body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Arial, Arial;
}
.box-one{
    background-color: brown;
    padding: 100px;
}

/*
Add some style blocks below this line to style the card.
*/
section {
    box-sizing: border-box;
    border: solid 5px rgb(0, 0, 0); 
   
    
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    margin: px;
    /*
    Alternative syntax:
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}